@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 120 100% 50%;

    --card: 0 0% 3.9%;
    --card-foreground: 120 100% 50%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 120 100% 50%;
 
    --primary: 120 100% 50%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 120 100% 50%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 120 70% 40%;
 
    --accent: 120 70% 40%;
    --accent-foreground: 120 100% 50%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 120 100% 50%;

    --border: 120 70% 40%;
    --input: 120 70% 40%;
    --ring: 120 100% 50%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}